{% load staticfiles %}
{% load letter_to_admin_number %}
<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A portfolio template that uses Material Design Lite.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Budistliku terminoloogia leksikon</title>
    <link rel="shortcut icon" href="{% static 'img/Dharma_Wheel.ico' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-pink.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- Downloaded stylesheet, which can be edited, is located to the end of the list so it will overwrite the previous ones -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}"/>
</head>

<body>
<!-- Menu containing links to term_list in different languages -->
<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
    for="term_list_button">
    <li class="mdl-menu__item mdl-menu__item--full-bleed-divider"><a href="/terminite_loetelu/est/">eesti keeles</a>
    </li>
    <li class="mdl-menu__item"><a href="/terminite_loetelu/pl/">paali keeles</a></li>
    <li class="mdl-menu__item mdl-menu__item--full-bleed-divider"><a href="/terminite_loetelu/skr/">sanskriti keeles</a>
    </li>
    <li class="mdl-menu__item"><a href="/terminite_loetelu/hn/">hiina keeles</a></li>
    <li class="mdl-menu__item mdl-menu__item--full-bleed-divider"><a href="/terminite_loetelu/jp/">jaapani keeles</a>
    </li>
    <li class="mdl-menu__item"><a href="/terminiteloetelu/tb/">tiibeti keeles</a></li>
</ul>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
        <div class="mdl-layout__header-row portfolio-logo-row">

                <span class="mdl-layout__title">
                    <div class="portfolio-logo"></div>
                    <span class="mdl-layout__title">Budistliku terminoloogia leksikon</span>
                </span>
        </div>
        <!-- Header row -->
        <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link" href="/">Esileht</a>
                <a class="mdl-navigation__link" id="term_list_button" onmouseover="this.click()">Terminid</a>
                <a class="mdl-navigation__link" href="/kogukonnad/">Kogukonnad</a>
                <a class="mdl-navigation__link" href="#search">Otsi</a>
                {% if user.is_authenticated %}
                <a class="mdl-navigation__link" href="/kasutajad/kasutaja/{{ request.user.username }}/">
                    <i class="material-icons mdl-badge mdl-badge--overlap"
                       {% if request.user.is_superuser and ''|letter_to_admin_number != 0%}
                    data-badge="{{ ''|letter_to_admin_number }}" {% endif %}>person</i>{{ request.user.username }}</a>
                {% else %} <a class="mdl-navigation__link" href="/kasutajad/sisselogimine">Logi sisse</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link" href="/">Esileht</a>
                <a class="mdl-navigation__link" href="/kogukonnad/">Kogukonnad</a>
                <a class="mdl-navigation__link" href="/terminite_loetelu/est/">Terminid eesti keeles</a>
                <a class="mdl-navigation__link" href="/terminite_loetelu/pl/">Terminid paali keeles</a>
                <a class="mdl-navigation__link" href="/terminite_loetelu/skr/">Terminid sanskriti keeles</a>
                <a class="mdl-navigation__link" href="/terminite_loetelu/hn/">Terminid hiina keeles</a>
                <a class="mdl-navigation__link" href="/terminite_loetelu/jp/">Terminid jaapani keeles</a>
                <a class="mdl-navigation__link" href="/terminite_loetelu/tb/">Terminid tiibeti keeles</a>
                <a class="mdl-navigation__link" href="/terminite_loetelu/eng/">Terminid inglise keeles</a>
                <a class="mdl-navigation__link" href="#search">Otsi</a>
                {% if user.is_authenticated %}
                <a class="mdl-navigation__link" href="/kasutajad/kasutaja/{{ request.user.username }}/">
                    <i class="material-icons mdl-badge mdl-badge--overlap"
                       {% if request.user.is_superuser and ''|letter_to_admin_number != 0%}
                    data-badge="{{ ''|letter_to_admin_number }}" {% endif %}>person</i>{{ request.user.username }}</a>
                {% else %} <a class="mdl-navigation__link" href="/kasutajad/sisselogimine">Logi sisse</a>
                {% endif %}
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp" style="min-height: 600px;">
                <div style="margin: 50px 40px 40px 40px;">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">
                    <form method="GET" action="{% url 'search' %}" name="searchForm">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" name="q" id="search">
                            <label class="mdl-textfield__label" for="search" style="color:white;">Sisesta
                                otsingusõna</label>
                        </div>
                        <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                            Otsi
                        </button>
                    </form>
                    {% if messages %}
                    <div id="messages_here" class="mdl-js-snackbar mdl-snackbar">
                        <div class="mdl-snackbar__text"></div>
                        <button class="mdl-snackbar__action" type="button"></button>
                    </div>
                    {% endif %}
                    <script>
                    {% for message in messages %}
                    var theMessage = '{{ message }}';
                    {% empty %}
                    var theMessage
                    {% endfor %}

                    if (Boolean(theMessage)) {
                        (function() {
                            var snackbarContainer = document.querySelector('#messages_here');
                            window.addEventListener('load', function() {
                                'use strict';
                                var data = {message: theMessage, timeout: 3500,};
                                snackbarContainer.MaterialSnackbar.showSnackbar(data);
                            });
                        }());
                    }
                    </script>


                </div>
            </div>
            <div class="mdl-mini-footer__right-section">
                <div class="mdl-logo"><a href="/teave/kiri_haldajale/">Kirjuta lehe haldajale</a></div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="#"><!-- Something here --></a></li>
                    <li><a href="#"><!-- Something here --></a></li>
                </ul>
            </div>
        </footer>
    </main>
</div>
</body>

</html>
