{% extends 'general/base.html' %}

{% block content %}
<h1>Logi sisse</h1>
<form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>

<p>Pole veel kasutaja? <a href="/teave/kiri_haldajale/">Kirjuta lehe haldajale</a> ja palu endale konto luua!</p>
{% endblock %}

